bimo2:
    resource: "@BimoBundle/Controller/"
    type:     annotation
    prefix:   /

user1:
    resource: "@UserBundle/Controller/"
    type:     annotation
    prefix:   /

bimo:
    resource: "@BimoBundle/Resources/config/routing.yml"
    prefix:   /

user:
    resource: "@UserBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: "@AppBundle/config/routing.yml"
    prefix:   /



login:
    path: /login
    defaults:
        _controller: UserBundle:Security:login

login_check:
    path: /login_check

logout:
    path: /logout


home:
    path: /home
    defaults:
        _controller: UserBundle:Security:index