.noDec {
    text-decoration: none;
    text-decoration-color: rgb(255);

    border-radius: 5px;
    border-right-width:     
}
S
.patientHover:hover {
    /*border:  solid;*/
        
}
.lienBimo {
    border-radius: 4px;
    border:solid;
    border:1px;
    background-color:rgb(76,174,76);
    padding:8px;
    color: rgb(255,255,255);
}
.lienProfil {
    border-radius: 4px;
    border:solid;
    border:1px;
    background-color:rgb(66,139,202);
    padding:8px;
    color: rgb(255,255,255);
}

.jeanmi
{
		/*border: 	solid;	*/
		display: 	flex;	
		justify-content: 	space-around;	
		align-items: 	center;	
}


body
{
	padding-left: 	5%;
	padding-right: 10px;
	max-width: 80%;
    /*background-color: rgb(100,0,0);*/
}
/*{
    border-right: solid;
    border-right-color: rgb(155, 31, 138);
    border-right-width: 40px;
}*/

.before:nth-child(1)
{
	/*border: solid;*/
	
	padding: 2%;
	flex: 	1;
}
.during:nth-child(2)
{
	/*border: solid;*/
	padding: 2%;
	flex: 	1;
}
.treatement:nth-child(3)
{
	/*border: solid;*/
	padding: 2%;
	flex: 	1;
}

.containeurMedProto
{
	display :flex;
	justify-content: 	space-around	;		
	/*flex-wrap: 	wrap;	*/
}

.treat
{
	/*border: solid;*/

	margin: 	auto;	
}
.borderR{
    border-right: 1px solid black;
}

table
{
    border-collapse: collapse;  
    border: 1px solid black;
}
td
{
    /*border: 1px solid black;*/
    margin:auto;
    text-align:center;
    padding: 5px;
}
th{
	/*border: 1px solid black;*/
    margin:auto;
    text-align:center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

}
thead
{
	font-weight: bold;

}

.testviewbimo
{
	/*background-color:rgb(180,260,180);*/

}

.propCom{
    width:100px;
}

#tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#tableau th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2gjh1nPI/AAAAAAAACbg/7lNsVpks2oY/s1600/gradhead.png') repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}
#tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('http://1.bp.blogspot.com/_xDpoN6UfFFY/S-J2f5yBC3I/AAAAAAAACbY/zWXYXsR-w5E/s1600/gradback.png') repeat-x;
}
#tableau tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: #d0dafd url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2hsztUzI/AAAAAAAACbo/ztV1CK0RUrE/s1600/gradhover.png') repeat-x;
    color: #339;
}
#tableau a:hover {
    text-decoration:underline;
}