.noDec {
    text-decoration: none;
    text-decoration-color: rgb(255);

    border-radius: 5px;
  
}
S
.patientHover:hover {
    /*border:  solid;*/
        
}
.lienBimo {
    border-radius: 4px;
    border:solid;
    border:1px;
    background-color:rgb(76,174,76);
    padding:8px;
    color: rgb(255,255,255);
}
.lienProfil {
    border-radius: 4px;
    border:solid;
    border:1px;
    background-color:rgb(66,139,202);
    padding:8px;
    color: rgb(255,255,255);
}

.jeanmi
{
		/*border: 	solid;	*/
		display: 	flex;	
		justify-content: 	space-around;	
		align-items: 	center;	
}


body
{
	padding-left: 	5%;
	padding-right: 10px;
	max-width: 80%;
    /*background-color: rgb(100,0,0);*/
}
/*{
    border-right: solid;
    border-right-color: rgb(155, 31, 138);
    border-right-width: 40px;
}*/

.before:nth-child(1)
{
	/*border: solid;*/
	
	padding: 2%;
	flex: 	1;
}
.during:nth-child(2)
{
	/*border: solid;*/
	padding: 2%;
	flex: 	1;
}
.treatement:nth-child(3)
{
	/*border: solid;*/
	padding: 2%;
	flex: 	1;
}

.containeurMedProto
{
	display :flex;
	justify-content: 	space-around	;		
	/*flex-wrap: 	wrap;	*/
}

.treat
{
	/*border: solid;*/

	margin: 	auto;	
}
.borderR{
    border-right: 1px solid black;
    border-color:   white;
}
        
