{% extends 'layout.html.twig' %}

{#  {% stylesheets 'BimoBundle/Resources/public/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css">

  {% endstylesheets %} #}
{% block title %}
  Ajouter un Patient - {{ parent() }}
{% endblock %}

{% block body %}

	{# On n'affiche le lien « Ajouter une annonce » qu'aux auteurs
  (et admins, qui héritent du rôle auteur) #}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="index">

	 		<h2>Ajouter un patient</h2>

  			{{ include("BimoBundle:Patient:formPatient.html.twig") }}

	 	</div>
	{% endif %}

	<p>
		<a href="{{ path('listPatient') }}" class="btn btn-primary">
	      <i class="glyphicon glyphicon-chevron-left"></i>
	      Retour à la liste
	    </a>
   </p>
   
{% endblock %}
